
#intro {
	margin: 0;
	padding: 0;
	color:#fff;
	font: normal 90% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}

.slide_paragraph {
    background-color: white;
    color: black;
}

#slide1 {
   background: url(../img/Container_ship_Hanjin_Taipei.jpg) center 0 no-repeat fixed;
}

#slide2 {
   background: url(../img/Nanoscience_High-Performance_Computing_Facility.jpg) center 0 no-repeat fixed;
}

#slide3 {
   background: url(../img/Above_the_Clouds.jpg) center 0 no-repeat fixed;
}

#slide1, #slide2, #slide3 {
	height: 1000px;
	padding-top:100px;
}

.slide_inside {
	width: 980px;
	margin: 0 auto;
}

#slide1 .slide_inside {
    background-color: rgba(6, 6, 6, 0.87);
    margin-top:50px;
    padding:50px;
    font-size: 1.2em;
}

#slide1 .slide_inside p{
	text-align:justify;
    width: 500px;
}

#slide2 .slide_inside {
    background-color: rgba(2, 28, 68, 0.81);

    padding:10px;
}

#slide2 .slide_inside p {
	width: 500px;
	text-align:justify;
    font-size: 1.2em;
}

#slide3 .slide_inside {
	background-color: rgba(0, 0, 0, 0.5);
	margin-top:50px;
	padding:50px;
}

@media screen and (max-width: 640px) {
  #slide1 {
    height:auto;
    background:none;
  }
  #slide2 {
    height:auto;
    background:none;
  }
  #slide3 {
    height:auto;
    background:none;
  }
#slide1 .slide_inside {
    width: auto;
}
#slide2 .slide_inside {
    width: auto;
}
#slide3 .slide_inside {
    width: auto;
}

#slide1 .slide_inside p {
    width: auto;
}
#slide2 .slide_inside p {
    width: auto;
}
#slide3 .slide_inside p {
    width: auto;
}

}

