<ol class="breadcrumb">
  <li><a href="/app/#/" title="home">Go-Docker</a></li>
  <li class="active">New job</li>
</ol>
<div class="panel panel-default" style="overflow-x: auto">
  <div class="panel-heading">
    <b>Submit new job</b>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="table-responsive">
        <form class="form-horizontal">
          <table class="table table-striped">
            <tr>
              <td colspan="2">
                <div class="row">
                  <label for="command" class="control-label">Name</label>
                </div>
              </td>
              <td colspan="10">
                <div class="row">
                  <input class="form-control" ng-model="taskname" id="taskname" type="text" placeholder="task name">
                </div>
              </td>
            </tr>
            <tr>
              <td  colspan="2">
                <div class="row">
                  <label for="description" class="control-label">Description</label>
                </div>
              </td>
              <td colspan="10">
                <div class="row">
                  <textarea class="form-control" ng-model="description" id="description" placeholder="task description"></textarea>
                </div>
              </td>
            </tr>
            <tr>
              <td  colspan="2">
                <div class="row">
                  <label for="tags" class="control-label">Tags</label>
                </div>
              </td>
              <td colspan="10">
                <div class="row">
                  <input class="form-control" ng-model="tags" id="taskname" placeholder="tags, comma separated">
                </div>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <div class="row">
                  <label for="project" class="control-label">Project</label>
                </div>
              </td>
              <td colspan="5">
                <div class="row">
                  <input class="form-control" disabled ng-model="project.id" id="project" placeholder="project">
                </div>
              </td>
              <td colspan="5">
                <div class="row">
                  <select  class="form-control"
                  ng-model="project" id="projects"
                  ng-options="v.id for v in projects">
                </select>
              </div>
            </td>
          </tr>
          <tr ng-hide="executors_placement.length==1">
            <td>
              <div class="row">
                <label for="placement" class="control-label">Execution system</label>
              </div>
            </td>
            <td colspan="2">
              <div class="row">
                <select  class="form-control"
                ng-model="placement" id="placement"
                ng-options="p for p in executors_placement">
              </select>
            </div>
          </td>
        </tr>
        <tr ng-if="placement.indexOf('native') < 0">
          <td colspan="12">
            <div class="row checkbox">
              <label class="control-label">
                <input ng-model="$parent.interactive" type="checkbox"> Interactive session (ssh connection, image must embed a SSH server or system will try to install one)
              </label>
            </div>
          </td>
        </tr>
        <tr ng-if="placement.indexOf('native') < 0">
          <td  colspan="2">
            <div class="row">
              <label for="command" class="control-label">Container image</label>
            </div>
          </td>
          <td colspan="5">
            <div class="row container-dropdown" >
              <input class="form-control " uib-typeahead="image for image in image_list| filter:$viewValue" typeahead-min-length='3' ng-disabled="! config_allow_user_images" ng-model="selected_image.url" id="taskname" placeholder="container image">
            </div>
          </td>
          <td ng-if="! interactive" colspan="5">
            <div class="row">
              <p>or use predefined image</p>
              <select  class="form-control"
              ng-model="$parent.image" id="image"
              ng-change="change_image($parent.image)"
              ng-options="v.name for v in config_images">
            </select>
          </div>
        </td>
        <td ng-if="interactive" colspan="5">
          <div class="row">
            <p>or use predefined image</p>
            <select  class="form-control"
            ng-model="$parent.image" id="image"
            ng-change="change_image($parent.image)"
            ng-options="v.name for v in interactive_images">
          </select>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <div class="row">
          <label class="control-label">Command</label>
        </div>
      </td>
      <td colspan=10>
        <div class="row">
          <textarea class="godcode" ui-codemirror="{
            lineNumbers: true,
            theme:'twilight',
            lineWrapping : true,
            mode: 'text/plain'
          }" ng-model="taskcommand" >
        </textarea>
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="row">
        <label for="cpu" class="control-label">CPU requirements</label>
      </div>
    </td>
    <td colspan=10>
      <div class="row">
        <input type="number" min="1" required class="form-control" ng-model="cpu" id="cpu" placeholder="number of cpu">
      </div>
    </td>
  </tr>
  <tr ng-if="allow_gpu">
    <td colspan="2">
      <div class="row">
        <label for="gpus" class="control-label">GPU requirements</label>
      </div>
    </td>
    <td colspan=10>
      <div class="row">
        <input type="number" min="0" required class="form-control" ng-model="$parent.gpus" id="gpus" placeholder="number of gpu">
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="row">
        <label for="ram" class="control-label">RAM requirements (Gb)</label>
      </div>
    </td>
    <td colspan="10">
      <div class="row">
        <input type="number" min="1" required class="form-control" ng-model="ram" id="ram" placeholder="Quantity of RAM(Gb)">
      </div>
    </td>
  </tr>
  <tr>
    <td colspan="2">
      <div class="row">
        <label for="mounts" class="control-label">Mount volumes</label>
      </div>
    </td>
    <td colspan="10">
      <div class="row">
        <select multiple class="form-control"
        ng-model="volumes" id="volumes"
        ng-options="v.name+'('+v.acl+')' for v in config_volumes">
      </select>
    </div>
    <div class="row" ng-if="project">
      <div ng-repeat="volume in project.volumes" class="alert alert-info">{{volume.path}} == >{{volume.mount}}</div>
    </div>
  </td>
</tr>
</table>
</form>
</div>
</div>

<div class="well pointer" ng-click="advancedCollapsed = !advancedCollapsed" data-toggle="collapse" data-target="#advancedOptions">Advanced options
  <span class="caret"></span>
</div>

<div id="advancedOptions" class="collapse" uib-collapse="advancedCollapsed">
  <div class="row">
    <form class="form-horizontal">
      <table class="table table-striped">
        <tr class="ng-scope">
          <td colspan="12">
            <div class="row checkbox">
              <label>
                <input ng-model="notify" type="checkbox"> Get notification on task status updates
              </label>
            </div>
          </td>
        </tr>
        <tr class="ng-scope">
          <td colspan="12">
            <div class="row checkbox">
              <label>
                <input ng-model="needroot" type="checkbox"> Run as root
              </label>
            </div>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div class="row">
              <label for="network" class="control-label">Network (default={{network}})</label>
            </div>
          </td>
          <td colspan="10">
            <div class="row">
              <select  class="form-control"
              ng-model="network" id="network"
              ng-options="v for v in networks">
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="row">
            <label for="ports" class="control-label">Ports requirements</label>
          </div>
        </td>
        <td colspan="10">
          <div class="row">
            <input required class="form-control" ng-model="ports" id="ports" placeholder="list of ports, comma separated">
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="row">
            <label for="failure_policy" class="control-label">Restart policy on node failure</label>
          </div>
        </td>
        <td colspan="10">
          <div class="row">
            <select required class="form-control" ng-model="failure_policy" id="failure_policy">
              <option value="0">No restart</option>
              <option value="{{defaults_failure_policy}}">Retry {{defaults_failure_policy}} times</option>
            </select>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="row">
            <label for="parent_ids" class="control-label">Parent jobs ids</label>
          </div>
        </td>
        <td colspan="10">
          <div class="row">
            <input class="form-control" ng-model="parent_ids" id="parent_ids" placeholder="12,13 (comma separated)">
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="row">
            <label for="array_values" class="control-label">Job arrays</label>
          </div>
        </td>
        <td colspan="10">
          <div class="row">
            <input class="form-control" ng-model="array_values" id="array_values" placeholder="Job arrays: start:end:step">
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="row">
            <label class="control-label">Data (available in godocker-uris.txt file)</label>
          </div>
        </td>
        <td colspan="10">
          <div class="row">
            <textarea class="form-control" ng-model="taskuris" ></textarea>
          </div>
        </td>
      </tr>
      <tr ng-if="config_tmpstorage">
        <td colspan="2">
          <div class="row">
            <label for="tmpstorage" class="control-label">Local temporary storage</label>
          </div>
        </td>
        <td  colspan="10">
          <div class="row">
            <input class="form-control" ng-model="$parent.tmpstorage" id="tmpstorage" placeholder="Size of storage 10M, 4G, available in /tmp-data">
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="row">
            <label for="constraints" class="control-label">Label constraints</label>
          </div>
        </td>
        <td colspan="4">
          <div class="row">
            <select class="form-control" id="constraints" ng-options="item for item in constraints" ng-model="selectedconstraint">
            </select>
          </div>
        </td>
        <td colspan="2">
          <div class="row">
            <button class="btn btn-primary glyphicon glyphicon-menu-right" type="button" ng-click="add_constraint()"></button>
          </div>
        </td>
        <td colspan="4">
          <div class="row">
            <div ng-repeat="constraint in selectedconstraints track by $index">
              <h4>
                <span class="label label-primary">
                  {{constraint}}
                  <div ng-click="delete_constraint(constraint)" class="pointer glyphicon glyphicon-trash"></div>
                </span>
              </h4>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>

</div>

<div class="row">
  <div class="form-group">
    <button type="btn" class="pull-right btn btn-primary" ng-click="new_job()">Submit</button>
  </div>
</div>
</div>

</div>
