<ol class="breadcrumb">
  <li><a href="/app/#/" title="home">Go-Docker</a></li>
  <li><a href="/app/#/" title="home">Files</a></li>
  <li ng-repeat="p in task_path" ng-if="p">{{p}}</li>
</ol>
<div class="panel panel-default" style="overflow-x: auto">
  <div class="panel-heading">
    <b>Files and directories</b>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <table class="table table-striped">
        <tr>
          <th colspan="1"></th>
          <th colspan="3">Title</th>
          <th colspan="2">Size</th>
          <th colspan="1"></th>
        </tr>
        <tr ng-repeat="file_or_dir in files_or_dirs" >
          <td colspan="1" ng-if="file_or_dir.type=='file'"><span class="glyphicon glyphicon-file"></span></td>
          <td colspan="1" ng-if="file_or_dir.type=='dir'"><span class="glyphicon glyphicon-folder-open"></span></td>
          <td colspan="3">{{file_or_dir.name}}</td>
          <td colspan="2" ng-if="file_or_dir.type=='file'">{{bytesToSize(file_or_dir.size)}}</td>
          <td colspan="2" ng-if="file_or_dir.type=='dir'"> - </td>
          <td colspan="1" ng-if="file_or_dir.type=='file'"><span class="pointer glyphicon glyphicon-floppy-disk" ng-click="goto_file_or_dir(file_or_dir)"></span></td>
          <td colspan="1" ng-if="file_or_dir.type=='dir'"><span class="pointer glyphicon glyphicon glyphicon-log-in" ng-click="goto_file_or_dir(file_or_dir)"></span></td>
        </tr>
      </table>
    </div>
  </div>

</div>
