<ol class="breadcrumb">
  <li><a href="/app/#/" title="home">Go-Docker</a></li>
  <li>Marketplace</li>
  <li class="active">Link to a recipe</li>
</ol>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Link your job to a recipe</h3>
    </div>
    <div class="panel-body">
      <table id="recipe_list" datatable="ng" dt-instance="dtRecipe" dt-options="dtOptions" class="table table-striped row-border hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Description</th>
            <th>Link</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="recipe in recipes track by recipe.id">
            <td>{{ ::recipe.id }}</td>
            <td>{{::recipe.description}}</td>
            <td>
              <span class="pointer glyphicon glyphicon-link" ng-click="link_recipe(recipe)"></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
