<ol class="breadcrumb">
  <li><a href="/app/#/" title="home">Go-Docker</a></li>
  <li>Resources</li>
  <li>Marketplace</li>
  <li class="active">Recipes</li>
</ol>

<div class="row">
  <div ng-if="msg" class="label label-warning">
    {{msg}}
  </div>
</div>

<div class="row" ng-if="user" style="margin-bottom: 10px;padding-left:25px;">
  <button class="btn btn-lg btn-success" ng-click="create_recipe()">Create a recipe!</button>
</div>

<div class="row">
  <div ng-repeat="recipe in ::recipes" class="col-xs-6 col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading panel-primary">
        {{recipe.id}}
        <a ng-href="#/marketplace/recipe/{{recipe.id}}">
          <span style="margin-right:5px;"class="pull-right glyphicon glyphicon-resize-full"> </span>
        </a>
      </div>
      <div class="panel-body">
        {{recipe.description}}
      </div>
      <div class="panel-footer"><small>{{recipe.owner}}</small></div>
    </div>
  </div>
</div>



<script type="text/ng-template" id="recipeCreateModalContent.html">
  <div class="modal-header">
    <h3 class="modal-title">Create a recipe</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <table class="table table-striped">
        <tr>
          <td><label for="rid" class="col-sm-2 control-label">Name</label></td>
          <td><input class="form-control" ng-model="recipe.id" id="rid" placeholder="recipe name, no space or special chars"></td>
        </tr>
        <tr>
          <td><label for="description" class="col-sm-2 control-label">Description</label></td>
          <td><textarea class="form-control" ng-model="recipe.description" id="description" placeholder="task description"></textarea></td>
        </tr>
        <tr>
          <td><label for="description" class="col-sm-2 control-label">Public ?</label></td>
          <td><select class="form-control" ng-model="recipe.visible">
            <option value="true" >Yes</option>
            <option value="false">No</option>
          </select>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>
</script>
