<ol class="breadcrumb">
  <li><a href="/app/#/" title="home">Go-Docker</a></li>
  <li>Resources</li>
  <li class="active">Compute node</li>
</ol>
<div class="row" ng-repeat="node in usage">
  <h3 class="section-title">{{node.name}}</h3>
  <div class="row">
    <div class="col-lg-3">
      <small><em>CPU</em></small>
      <uib-progressbar class="" max="node.cpu[1]" value="node.cpu[0]" type="info"><i>{{node.cpu[0]}}/{{node.cpu[1]}}</i></uib-progressbar>
    </div>
    <div class="col-lg-3">
      <small><em>Memory</em></small>
      <uib-progressbar class="" max="node.mem[1]" value="node.mem[0]" type="info"><i>{{node.mem[0]}}/{{node.mem[1]}}</i></uib-progressbar>
    </div>
    <div class="col-lg-3" ng-if="node.gpus">
      <small><em>GPU</em></small>
      <uib-progressbar class="" max="node.gpus[1]" value="node.gpus[0]" type="info"><i>{{node.gpus[0]}}/{{node.gpus[1]}}</i></uib-progressbar>
    </div>
    <div class="col-lg-3">
      <small><em>Disk</em></small>
      <uib-progressbar class="" max="node.disk[1]" value="node.disk[0]" type="info"><i>{{node.disk[0]}}/{{node.disk[1]}}</i></uib-progressbar>
    </div>
  </div>
  <hr>
</div>
